 
/* Import Source Sans Pro font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap');
/* Resetting default margin and padding */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/* Body styles */
 body {
     font-family: 'Figtree', Arial, sans-serif;
     line-height: 1.6;
     background-color: #FFFFFF;
     color: var(--txt-color);
}
/* Root variables */
 :root {
     --bg-color-dark: #FFFFFF;
     --bg-color-dark2: #F8F9FA;
     --txt-color : #1C3F3A;
     --txt-color2 : #808187;
     --btn-color : #E3F488;


}
 .header {
     position: relative;
     z-index: 1;
     color: var(--txt-color);
     padding: 100px 32px;
     text-align: center;
     width: 100%;
     height: 100%;
     z-index: 111;
}
 .logo {
     position: absolute;
     top: 20px;
     left: 20px;
}
 .logo img{
     max-width: 200px;
     height: auto;
}
 .header-content{
     padding: 30px;
}
 .header h1 {
     font-size: 60px;
     margin-top: 20px;
     margin-block: 20px;
     line-height: 65px;
}
 .header .subtitle {
     font-size: 18px;
     color: var(--txt-color);
     line-height: 40px;
}
 .header .website-form {
     margin-top: 20px;
     text-align: center;
}
 .header .website-form input[type="text"] {
     padding: 10px;
     width: 70%;
}
 .header .website-form button {
     padding: 10px 20px;
     background-color: var(--btn-color);
     color: var(--txt-color);
     border: none;
     cursor: pointer;
}
/* Background container and left/right background divs */
 .diagonal-split-container {
     position: relative;
     overflow: hidden;

}
 /* .diagonal-split-background {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: var(--bg-color-dark);
    /* Background color for the diagonal split 
     clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
} */
 .diagonal-split-content {
     position: relative;
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}

/* "Why Images?" Section */
 .why-to-calculate {
     background-color: var(--bg-color-dark);
     padding: 60px 32px;
     text-align: center;
    
}
 .why-to-calculate h2 {
     font-size: 60px;
    /* Increased font size */
     line-height: 40px;
    /* Line spacing for the heading */
     margin: 34px;
     color: var(--txt-color);
}
 .why-to-calculate p {
     font-size: 28px;
    /* Increased font size */
     margin: 34px;
     line-height: 40px;
    /* Line spacing for the paragraph */
    color: var(--txt-color);
}
 .why-to-calculate img {
     display: block;
    /* Center image */
     margin: 0 auto;
     width: 60%;
    /* Adjusted width of the image */
}
 .why-to-calculate a {
     text-decoration: none;
     font-size: 14px;
    /* Increased font size */
     margin: 34px;
     color: var(--txt-color);
     line-height: 40px;
    /* Line spacing for the paragraph */
}

.why-container{
    display: grid;
    column-gap: 100px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: minmax(min-content, max-content);
    z-index: 1;
    position: relative;
}

.why-container .right p{
   font-size: 16px;
   line-height: 26px;
   color: var(--txt-color2);
}


.why-container .left h2{
    font-size: 45px;
    line-height: 52.6px;
    color: var(--txt-color);
    margin-left: -5px;
    font-weight: 300;
 }

 #How-website-emit-co2 {
     padding-top: 80px;
     background-color: var(--bg-color-dark);
}
 #How-website-emit-co2 #intro {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
}
 #How-website-emit-co2 #intro h1 {
     font-size: 60px;
}
 #How-website-emit-co2 #intro p {
     margin-top: -5px;
     font-size: 28px;
     max-width: 650px;
     line-height: 40px;
}
 #How-website-emit-co2 .container {
     display: flex;
     justify-content: space-evenly;
     align-items: flex-start;
     padding: 20px;
     max-width: 1200px;
     margin: 0 auto;
}
 #How-website-emit-co2 .container .info {
     flex: 1;
     padding: 20px;
     min-width: 600px;
    /* Use min-width instead of max-width */
     margin-left: 100px;
}
 #How-website-emit-co2 .container .info h1 {
     margin-top: 0;
}
 #How-website-emit-co2 .container .info p {
     margin-bottom: 30px;
     line-height: 22px;
     font-size: 18px;
}
 #How-website-emit-co2 .container .image-container {
     flex: 1;
     text-align: center;
     margin-top: 60px;
     margin-left: -60PX;
}
 #How-website-emit-co2 .container .image-container img {
     height: auto;
     max-height: 400px;
     display: block;
     margin: 0 auto;
}
/* Responsive styles */
 @media only screen and (max-width: 768px) {

    /* Background container and left/right background divs */
 .diagonal-split-container {
    position: relative;
    overflow: hidden;
    height: 70vh;

}
     #How-website-emit-co2{
         display: none;
    }
     .header-content{
         padding: 0px;
         margin-top: 120px;
    }
     #How-website-emit-co2 .container {
         flex-direction: column;
         text-align: center;
    }
     #How-website-emit-co2 .container .info {
         padding: 10px;
         max-width: none;
    }
     #How-website-emit-co2 .container .image-container img {
         max-height: 100%;
    }

    .why-to-calculate a {
        text-decoration: none;
        font-size: 10px;
       /* Increased font size */
        margin: 34px;
        color: var(--txt-color2);
        line-height: 40px;
       /* Line spacing for the paragraph */
   }
     #How-website-emit-co2 .container .image-container {
         margin-left: 0;
        /* Remove margin on smaller screens */
    }
}
/* "How do I check my website?" Section */
 .check-website {
     background-color: var(--bg-color-dark);
     padding: 80px 32px;
    /* Increased padding */
}
 .check-website h2 {
     margin: 34px;
     font-size: 60px;
    /* Increased font size */
     line-height: 40px;
    /* Line spacing for the heading */
    text-align: center;
}
 .check-website p {
     font-size: 28px;
    /* Increased font size */
     margin-top: 20px;
     line-height: 40px;
    /* Line spacing for the paragraph */
     padding: 20px 40px;
     text-align: center;
}
/* "Calculate your emissions!" Section */
 .calculate-emissions {
     background-color: var(--bg-color-dark);
    /* Background color from https://www.imagecarbon.com/ */
     padding: 100px 32px;
    /* Increased padding */
     text-align: center;
}
 .calculate-emissions h2 {
     margin-bottom: 20px;
     font-size: 60px;
    /* Increased font size */
     line-height: 40px;
    /* Line spacing for the heading */
}
 .calculate-emissions p {
     font-size: 28px;
    /* Increased font size */
     margin-top: 20px;
     line-height: 40px;
    /* Line spacing for the paragraph */
     font-weight: 100;
}
 .calculate-emissions .website-form input[type="text"] {
     margin-top: 30px;
     padding: 10px;
     width: 50%;
}
 .calculate-emissions .website-form button {
     padding: 10px 20px;
     background-color: var(--btn-color);
     color: var(--txt-color);
     border: none;
     cursor: pointer;
}
/* Footer Section */
 .footer {
     background-color: var(--bg-color-dark);
    /* Footer background color from https://www.imagecarbon.com/ */
     color: var(--txt-color);
     padding: 40px 0;
    /* Increased padding */
     text-align: center;
}
 .footer nav ul {
     list-style: none;
}
 .footer nav ul li {
     display: inline;
     margin-right: 20px;
}
 .footer nav ul li a {
     color: var(--txt-color);
     text-decoration: none;
}
 .step {
     display: flex;
     align-items: center;
     margin-bottom: 20px;
     width: 35VW;
}
 .step .icon {
     margin-right: 20px;
     font-size: 20px;
     background-color: #E3F488;
     color: var(--txt-color);
     border-radius: 50%;
    /* Make it circular */
     padding: 5px 10px;
    /* Add some padding */
}
 .step h3 {
     margin-top: 0;
     font-size: 26px;
     font-weight: 100;
     margin-left: 2PX;
     color: var(--txt-color);
}
 .how-we-work{
     max-width: 800px;
     margin: 30PX auto;
     padding: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
}
 .faq-section {
     background-color: var(--bg-color-dark);
     padding: 50px 0;
}
 .faq-section .container {
     width: 80%;
     margin: 0 auto;
}
 .faq-section .container h2 {
     font-size: 60px;
     margin: 32px;
}
 .faq-item {
     margin-bottom: 20px;
}
 .question {
     background-color: #f4f4f4;
     border: none;
     padding: 10px;
     width: 100%;
     text-align: left;
     display: inline-flex; /* Ensures the question and icon are in the same line */
     cursor: pointer;
     outline: none;
     color: #222;
     justify-content: space-between;
}
 .answer {
     margin-top: 10px;
     display: none;
     background-color: #1C3F3A;
     color: var(--bg-color-dark2);
     transition: max-height 0.3s ease-out; /* Added transition */
     padding: 10px;
}

.answer.show-answer {
    max-height: 200px; /* Set a maximum height for transition */
}


/* Loader container */
 .loader-container {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent black background */
     display: none;
     justify-content: center;
     align-items: center;
     z-index: 9999;
}
 .loader-content {
     text-align: center;
     color: var(--bg-color-dark);
    /* White text color */
}
 @keyframes spin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}
 .loader-icon {
     font-size: 48px;
     margin-bottom: 20px;
     color: var(--btn-color);
     animation: spin 2s linear infinite;
    /* Apply spin animation */
}
/* Loader text */
 .loader-text {
     font-size: 24px;
    /* Adjust size of the loader text */
     margin-bottom: 20px;
    /* Add some spacing */
     margin-left: 10px;
     color: #FFFFFF;
}
/* Media Queries forMobile Screens */
 @media only screen and (max-width: 768px) {
     .container {
         width: 90%;
         margin: auto;
    }
    section{

        margin-bottom: 20px;
    }
     .header {
         padding: 20px 40px;
    }
     .header h1 {
         font-size: 24px;
         line-height: 32px;
    }
     .header .subtitle {
         font-size: 8px;
         line-height: 14px;
         color: var(--txt-color2);
    }
     .header .website-form input[type="text"] {
         width: 100%;
    }
     .header .website-form button[type="submit"] {
         width: 100%;
         margin-top: 4px;
         background-color: #E3F488;
         color: #1C3F3A;
    }

    .how-we-work{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px 0px;
   }
     .why-to-calculate, .check-website, .calculate-emissions {
        margin-top: -65px;
         padding: 25px 25px;
    }
    .calculate-emissions{

        margin-top: -45px;
    }
     .why-to-calculate h2, .check-website h2, .calculate-emissions h2 {
         font-size: 23px;
         font-weight: 500;
         line-height: 25px;
         text-align: center;
         letter-spacing: -0.03em;
         
         
     }
  
     .why-to-calculate p, .check-website p, .calculate-emissions p {
         font-size: 14px;
         line-height: 20px;
         text-align: center;
         margin-top: -10px;
         padding: 0 0px;
         margin-left: 0px;
         margin-right: 0px;
         color: var(--txt-color2);
    }
     .why-to-calculate img {
         width: 85%;
         max-width: 400px;
    }
     .calculate-emissions .website-form input[type="text"] {
         width: 100%;
    }
     .calculate-emissions .website-form button[type="submit"] {
         width: 100%;
         margin-top: 10px;
    }
     .footer {
         padding: 30px 30px;
    }
    .footer p{

        font-size: 12px;
   }

   .footer a{

    font-size: 12px;
}
     .step {
         width: 100%;
         margin-bottom: 15px;
    }
     .step .icon {
         font-size: 10px;
         padding: 4px 8px;
         border-radius: 50%;

    }
     .step h3 {
         font-size: 14px;
    }
     .faq-section .container h2 {
         font-size: 18px;
         line-height: 28px;
         margin-bottom: 20px;
         margin-top: 0;
         margin-left: 0;
         margin-right: 0;
         text-align: center;
    }
     .faq-section .container h3 {
         font-size: 16px;
         line-height: 20px;
         font-weight: 500;
    }
     .faq-section .container p {
         font-size: 14px;
         line-height: 18px;
         margin: auto;
    } 
     .faq-section .container {
         padding: 0px;
    }
}
